@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Inter:wght@600&display=swap');
* {
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
}

body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

form {
    background: linear-gradient(36deg, rgba(25, 0, 255, 1) 0%, rgba(255, 0, 155, 1) 100%);
    text-align: center;
    border-radius: 20px;
    margin: 30px;
    padding: 15px;
    max-width: 650px;
    min-width: 700px;
}

.Titre {
    text-align: center;
}

input {
    max-height: 20px;
    color: black;
    background-color: white;
}

#message {
    min-height: 50px;
    text-align: start;
    color: black;
}

input {
    border-radius: 15px;
    border-color: white;
    border-width: 0px;
    min-height: 25px;
    width: 320px;
    padding: 5px;
    padding-left: 10px;
}

#bouton {
    min-height: 45px;
    min-width: 130px;
    border-radius: 25px;
    background-color: white;
    border-width: 0px;
    font-size: 16px;
    color: black;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}